<h1><%= t '.welcome' %></h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2><%= t '.top' %></h2>
      <%= render partial: 'comics/comic', collection: @comics %>
    </div>
    <div class="col-sm-6">
      <h2><%= t '.recent' %></h2>
      <%= render partial: 'comics/comic', collection: @comicss %>
    </div>
</div>
